---
import Layout from "@layouts/MainLayout.astro";
import links from "@data/links.json";
import ProjectCard from "@components/ProjectCard.astro";
---
<Layout>
	<main>
		<header>
			<nr-logo size="xl" animated></nr-logo>
			<h1>Nicolas Renault</h1>
			<h2>Find all my links here.</h2>
		</header>
		<div id="links">
			{
				links.map((link) => 
					<ProjectCard
						title={link.title}
						description={link.description}
						icon={link.icon}
						href={link.href}
					/>
				)
			}
		</div>
	</main>
</Layout>

<style lang="scss">
	main {
		#links {
			min-width: 580px;
		}
	}

	@media (max-width: 599px) {
		main
		{
			width: 100%;
			#links {
				min-width: inherit;
				width: 100%;
			}
		}
	}
</style>
