---
import "@styles/normalize.css";
import "@styles/global.scss";
import BaseHead from "@components/BaseHead.astro";
import GrainyFilter from "@components/GrainyFilter.astro";
import Blob from "@components/Blob.astro";
---

<!DOCTYPE html>
<html>
	<BaseHead />
	<body>
		<section id="main">
			<slot />
			<footer>
				<p>This is an open source project that you can find <a href="https://github.com/NicolasRenault/links" target="_blank">here</a>.</p>
				<nr-logo size="xs" link animated></nr-logo>
			</footer>
		</section>
		<Blob/>
		<GrainyFilter />
	</body>
</html>
